table {
  font-size: 18px;
  border: 1px solid black;
  border-collapse: collapse; /* Ensures borders are collapsed into a single border */
  width: 100%; /* Optional: makes the table full width */
}
th,
td {
  border: 1px solid black; /* Adds border to table headers and cells */
  padding: 8px; /* Adds padding for better spacing */
  text-align: left; /* Aligns text to the left */
}

hr {
  margin: 0;
}
.centered {
  text-align: center;
}
.transactionsTitle {
  padding: 20px;
  & h2 {
    margin: 0;
  }
}
.selectedRow{
  background-color: #d3d3d3;
}

.toolBarIcon {
  width: 24px;
  height: 24px;
}
button {
  padding: 10px;
}
.transactionsToolbar {
  display: flex;
  padding: 10px;
  font-size: 20px;
  & button {
    color: rgb(97, 73, 253);
    background: none;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .disabledButton{
    color: #5f5f5f;
    background-color: rgb(214, 214, 214);
    cursor:default;
  }
  .disabledButton:hover{
    background-color: rgb(214, 214, 214);
  }
  & button:hover {
    background-color: rgb(233, 233, 255);
  }
}

td {
  border-left: none;
  border-right: none;
}
.addRow {
  & td {
    border: none;
  }
  & input, select {
    padding: 5px;
    background: none;
    color: rgb(86, 84, 84);
    width: 95%;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid rgb(65, 65, 70);
  }
}

th {
  background-color: #f2f2f2; /* Optional: adds a background color to headers */
}
input[type='checkbox'] {
  transform: scale(1.5);
}
tr,
input[type='checkbox'] {
  cursor: pointer;
}

.cancelButton {
  background-color: #d3d8f8;
  color: #3f51b5;
  margin-right: 10px;
}

.cancelButton:hover {
  background-color: #b7c0fa;
}

.saveButton {
  background-color: #3f51b5; /* Blue */
  color: white;
}
.saveButton:hover {
  background-color: #2e3b85;
}
